{{ define "main" }}
  <div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        {{ with .Content }}
          <div>
            {{.}}
          </div>
        {{ end }}
        {{ if .Paginator.Pages.ByWeight }}
        <h2>Documentation Topics</h2>
        <ul>
            {{ range .Paginator.Pages }}
            <li>{{ partial "page_link.html" .}}</li>
            {{ end }}
        </ul>
        {{ end }}
      </div>
    </div>
  </div>
{{ end }}
